main {
  display: flex;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

.login-field {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  flex-basis: 20px;
  text-align: left;
}

.login-form > button {
  width: 300px;
}

.error-message {
  color:red;
}